.hover-100:hover,
.heller2-theme[data-theme-mode="light"] .hover-100:hover {
  box-shadow: var(--box-shadow-light-elevation-100);
  transform: translateY(-4px);
  transition: transform 300ms, box-shadow 300ms;
}

.hover-200:hover,
.heller2-theme[data-theme-mode="light"] .hover-200:hover {
  box-shadow: var(--box-shadow-light-elevation-200);
  transform: translateY(-4px);
  transition: transform 300ms, box-shadow 300ms;
}

.heller2-theme[data-theme-mode="dark"] .hover-100:hover {
  box-shadow: var(--box-shadow-dark-elevation-100);
  transform: translateY(-4px);
  transition: transform 300ms, box-shadow 300ms;
}

.heller2-theme[data-theme-mode="dark"] .hover-200:hover {
  box-shadow: var(--box-shadow-dark-elevation-200);
  transform: translateY(-4px);
  transition: transform 300ms, box-shadow 300ms;
}
